/* Layout Utilities */

/* Display */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* Width */
.w-full {
  width: 100%;
}

/* Alignment */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Items alignment */
.items-center {
  align-items: center;
}

/* Flex utilities */
.flex-grow {
  flex: 1;
}
